<!DOCTYPE html>
<html>
<head>
	<title>ViewQuestion</title>
</head>

<script>
//console.log("SCRIPT GOT LOADED")
//getQuestion()
//getAnswersForQuestion()
function getID()
{
	url = window.location.href.split('/')
	return url[url.length-1];
}
function convertUNIXTimestamp(timestamp)
{
	var date = new Date(timestamp * 1000);
	var year = date.getFullYear();
	var month = date.getMonth();
	var date = date.getDate();
	return month + '/' + date + "/" + year;
}
function deleteQuestion()
{
	var xhr = new XMLHttpRequest();
	xhr.open("DELETE", '/questions/' + getID(), true)
	xhr.responseType = 'json';
	xhr.send();

	xhr.onreadystatechange = function() {
		if(xhr.readyState == 4){
			if(xhr.response['status'] === "error"){
				alert(xhr.response['error'])
			}
			else{
				alert("Success! Deleted Question.")
				window.location.href ='/homepage'
			}
		}
	}
}
function acceptAnswer(id){
	var xhr = new XMLHttpRequest();
	xhr.open("POST",  '/answers/' + id + '/accept', true)
	xhr.responseType = 'json';
	xhr.send();
		
	xhr.onreadystatechange = function() {
                if(xhr.readyState == 4){
                        if(xhr.response['status'] === "error"){
                                alert(xhr.response['error'])
                        }
                        else{
                                alert("Success! Answer accepted.")
                        }
                }
        }
}
function upvoteAnswer(id){
        var xhr = new XMLHttpRequest();
        xhr.open("POST",  '/answers/' + id + '/upvote', true)
        xhr.responseType = 'json';
        xhr.send();

        xhr.onreadystatechange = function() {
                if(xhr.readyState == 4){
                        if(xhr.response['status'] === "error"){
                                alert(xhr.response['error'])
                        }
                        else{
                                alert("Success! Answer accepted.")
                        }
                }
        }

}
function downvoteAnswer(id){

}

function getQuestion(){
	//console.log("Made it int ogetQuestion")
	var xhr = new XMLHttpRequest();
	xhr.open("GET", '/questions/' + getID(), true)
	//console.log("ID = " + getID());
	xhr.responseType = 'json';
	xhr.send();

	xhr.onreadystatechange = function() {

		if (xhr.readyState == 4){
			if (xhr.response['status'] === "error"){
				alert(xhr.response['error'])
			}
			else{
				question = xhr.response['question']
				var questionDiv = document.getElementById('question')
				//console.log("question = " + question);
				for (var key in question) {
					if (question.hasOwnProperty(key)) {
						value = question[key]
						if (key == '_id' || key == 'id')
							continue;
						if (key == 'user')
						{
							user = question[key]
							var text = document.createTextNode("user: " + user['username'] + ", reputation: " + user['reputation']);
							questionDiv.appendChild(text)
							questionDiv.appendChild(document.createElement("br"))
							continue;
						}
						if (key == 'timestamp')
						{	
							
							time = convertUNIXTimestamp(question[key])
							value = time;
						}
						var text = document.createTextNode(key + ": " + value)
						//console.log("Text = " + text);
						//questionDiv.innerHTML += key + ": " + question[key] + "<br"
						questionDiv.appendChild(text)
						questionDiv.appendChild(document.createElement("br"))
					}
				}

				//render the question
			}
		}
	}
}
function getAnswersForQuestion(){
	var xhr = new XMLHttpRequest();
	xhr.open("GET", '/questions/' + getID() + '/answers', true);
	xhr.responseType = 'json';
	xhr.send();

	xhr.onreadystatechange = function() {
		if (xhr.readyState == 4){
			if (xhr.response['status'] === "error"){
				alert(xhr.response['error'])
			}
			else{
				var answerDiv = document.getElementById('answer')
				answers = xhr.response['answers']
				var i;
				for (i = 0; i < answers.length; i++)
				{
					answerDiv.appendChild(document.createTextNode("Answer #" + (i+ 1)))
					answerDiv.appendChild(document.createElement("br"))
					answer = answers[i];
					for (var key in answer)
					{
						value = answer[key]
						if (key == "timestamp")
							value = convertUNIXTimestamp(answer[key]);
						if (key == "_id" || key == "id")
							continue;
						if (answer.hasOwnProperty(key)){
							var text = document.createTextNode(key + ": " + value);
							answerDiv.appendChild(text);
							answerDiv.appendChild(document.createElement("br"))
						}
					}
					var upvote_btn = document.createElement("BUTTON");
					upvote_btn.innerHTML = "upvote";
					upvote_btn.onclick = function(){
						alert("HI");
					}

					var downvote_btn = document.createElement("BUTTON");
					downvote_btn.innerHTML = "downvote";
					downvote_btn.onclick = function(){
						alert("BYE");
					}
					
					var accept_btn = document.createElement("BUTTON");
					accept_btn.innerHTML = "Accept";
					accept_btn.onclick = function(){
                                                acceptAnswer(answer['id']);
                                        }


					answerDiv.appendChild(upvote_btn);
					answerDiv.appendChild(downvote_btn);
					answerDiv.appendChild(document.createElement("br"));
					answerDiv.appendChild(accept_btn);
					answerDiv.appendChild(document.createElement("br"));
					
				}

				//render the question
			}
		}
	}
}
function start()
{
	getQuestion();
	getAnswersForQuestion();
}
//getQuestion();
//getAnswersForQuestion();
window.onload = start;
function addAnswer(){
	var form = new FormData(document.getElementById('answerForm'))
	var xhr = new XMLHttpRequest();
	xhr.open("POST", '/questions/' + getID() + '/answers/add', true);
	xhr.responseType = 'json';
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.send(JSON.stringify({"body" : form.get("body")}));
	

	xhr.onreadystatechange = function() {
		if (xhr.readyState == 4)
		{
			if (xhr.response['status'] === "error")
			{
				alert(xhr.response['error'])
			}
			else{
				alert("Success, refreshing");
				window.location.reload();
			}
		}

	}
}
</script>
<body>
<div id = "question">Question<br></div>

<button onclick = "deleteQuestion()">Delete</button>
<div id = "answer">ANSWERS<br></div>

<form action = "javascript:;" id = "answerForm" onsubmit ="addAnswer()">
	Message:<br>
	 <textarea rows = "5" cols = "50" name = "body" value = "">
		Answer goes here.
	</textarea>
<input type = "submit" value = "Submit">

</body>
</html>


